{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <div class="card-body">
      
      <div class="row">
        <div class="card mb-3">
          <div class="d-flex justify-content-center">
            <!-- Adicionando classe de alinhamento -->
            <img src="{% static 'assets/img/Oficina-Auto-Brasilia-Logotipo.png' %}" style="width: 500px; height: 100px;" alt="..." />
          </div>
          <div class="col-sm-6 text-left">
            <h5 class="card-category">OFICINA AUTO BRASÍLIA</h5>
            <h2 class="card-title">Evite a Desvalorização do seu veículo.</h2>
          </div>
        </div>
      </div>

      <div class="row">



        <div class="row">
            
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>


       
      </div>
    </div>
  </div>
{% endblock %}
